/* about.css */
.small-img {
    width: 350px; /* Adjust this value to make the image smaller or larger */
    height: 350px; /* Ensure the image remains a circle */
    object-fit: cover; /* This ensures the image fits well within the circle */
}

body {
    overflow-x: hidden;
}
