.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo para cubrir toda la pantalla */
  }
  
  .content {
    flex: 1; /* El contenido principal ocupa todo el espacio disponible */
    padding: 20px;
  }
  
  