.btn-yellow {
    background-color: #f5e556;
    border: none;
    color: #000;
}

.btn-yellow:hover {
    background-color: #e5d545;
    color: #000;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

.feature.bg-yellow {
    background-color: #f5e556;
}

.bi {
    font-size: 1.5rem;
}

header {
    background-color: #f5e556;
}
