.navbar {
    padding: 1rem;
}

nav {
    background-color: rgb(255, 255, 255);
}

.nav-link {
    color: #000000 !important;
    font-size: 1.2rem;
}

.nav-item:hover {
    color: #f5e556 !important;
}

.btn-outline-primary {
    border-color: #f5e556;
    color: #000000;
    background-color: white;
    margin: 0.5rem 0; /* Ajuste del margen */
}

.btn-outline-primary:hover {
    background-color: #f5e556;
    color: rgba(0, 0, 0, 0.773);
    border-color: #000000;
}

.btn-outline-primary:active {
    text-shadow: 1px 1px 2px #8a8a8a;
    background-color: #f5e556;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem #f5e556 !important;
}

.navbar-toggler {
    border: none; /* Quitar el borde del botón de toggler */
}


.custom-icon {
    color: #000000;
}

a {
    text-decoration: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
}

svg:hover{
    color:#f5e556;
}