/* ServiceCard.css */
.card-body {
  cursor: default;
  background-color: #ffffff;
}

.card-title {
  border-bottom: 2px solid #f5e556;
}

.card-img-left {
  cursor: default;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card-img-left img,
.card-img-left .cld-image {
  width: 100%;
  height: 100%;
}

.row.no-gutters {
  display: flex;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.333333%;
  height: auto;
  display: flex;
  align-items: center;
}

.col-md-8 {
  flex: 0 0 auto;
  width: 66.666667%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content {
  border: 2px solid #f5e556;
}

