/* ServiceCard.css */
.card-body {
  cursor: default;
  background-color: #ffffff;
}
.card-title{
  border-bottom: 2px solid #f5e556;
}

.card-img-left {
  cursor: default;
  position: relative;
  overflow: hidden;
  height: 100%; /* Ajusta la altura del contenedor */
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Ajusta la altura de la imagen */
  width: auto; /* Ajusta el ancho de la imagen */
  object-fit: cover; /* Ajusta el modo de ajuste de la imagen */
}

.modal-content{
  border: 2px solid #f5e556;
}
