.card {
    cursor: pointer;
    border: 3px solid;
    border-color: #f5e556;
    color: #000000;
}
div{
    color:#000000;
}

button {
    border: 1px solid #f5e556;
    border-radius: 8px;
  }

input{
    color:#000000;
}

